$custom-theme_variables := {
  icon-size-default: 24px
  icon-size-medium: 2rem
  icon-size-large: 2.5rem
  icon-size-x_large: 3rem
  icon-size-x_x_large: 6rem
  icon-size-x_x_x_large: 9rem
}

$themeprimary := #1976D2
$themeaccent := #82B1FF
$themesecondary := #424242
$themeinfo := #2196F3
$themewarning := #FFC107
$themeerror := #FF5252
$themesuccess := #4CAF50

$max-width-md := 700px
$max-width-lg := 900px

$toolbar-extension-height := 64px
