.footer-global {
  .application--dark {
    .v-icon {
      color: white
    }
  }
  .footer-links {
    ul {
      margin: 0
      @extend .pl-3
      li {
        list-style none
        margin: 0
        padding: 0
        a {
          text-decoration none
        }
      }
    }
  }
}
