// overwrite default container
@media $display-breakpoints.xs-only {
  .page-content {
    .content-layout .layout.row {
      > .flex.xs12 {
        margin-bottom: 48px
      }
    }
    .content-list-widget > .container {
      padding-left: 24px !important
      padding-right 24px !important
    }
  }
}
