.carousel {
  .jumbotron__content {
    .layout > .card {
      height: 100% !important
      > .media-column {
        height: 100% !important
      }
      > .card__title {
        position absolute
        bottom: 0
      }
    }
  }

  .content-element {
    background-color transparent !important
  }

  .slider-title-centered {
    position absolute
    top: 50%
    left: 50%
    text-align: center
    transform: translate(-50%, -50%)
    &.theme--dark {
      color: white
    }
  }
}

//.content-list-widget.slider {
//  .carousel {
//    figure {
//      overflow: hidden
//      img:hover {
//        transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
//      }
//    }
//  }
//}
