.carousel {
  .jumbotron__content {
    .layout > .card {
      height: 100% !important
      > .media-column {
        height: 100% !important
      }
      > .card__title {
        position absolute
        bottom: 0
      }
    }
  }

  .content-element {
    background-color transparent !important
  }

  .slider-title-centered {
    position absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    &.theme--dark {
      color: white
    }
  }
}
