.page-content {
  /**
  expension panel read more
   */
  .read-more-panel {
    background-color: white
    @extend .st-pa
    @extend .st-mb
    > div {
      padding-bottom: $spacers.three.y
    }
    .v-expansion-panel {
      box-shadow: none
      .v-expansion-panel__header {
        background-color: $grey.darken-3
        > div {
          &:not(.v-header__icon) {
            display none
          }
          &.v-header__icon {
            margin-right auto
            .v-icon {
              color: white
            }
          }
        }
      }
    }
    .v-expansion-panel__body {
      > div {
        padding-top: $spacers.three.y
      }
    }
  }

  .content-expansion-panel {
    @extend .st-mb
    .v-expansion-panel__body {
      .content-header {
        display: none
      }
      .text-image, .content-element, .PageHeader, .read-more-panel, .rte-content {
        margin-bottom: 0
        padding: 0
        background-color transparent
      }
      .rte-content ul li {
        //border-bottom-color white
      }
    }
  }
}
